@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.navbar {
  background-color: black;
  height: 85px;
  padding: 0.5rem;
  text-align: center;
}
.navbar .navbar-brand img {
  max-height: 10px;
  width: auto;
}
.navbar .contact-button {
  position: relative;
  outline: 0.1px solid;
  outline-color: white;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.navbar .contact-button:hover {
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
.navbar .contact-button:hover {
  transform: scale(1.1);
}
.navbar .navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar .navbar-toggler:focus, .navbar .navbar-toggler.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.navbar .nav-link {
  color: #E1E2E6;
  font-size: 18px;
  position: relative;
}
.navbar .nav-link:hover, .navbar .nav-link.active {
  color: white;
}
@media (min-width: 991px) {
  .navbar .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #E1E2E6;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .navbar .nav-link:hover::before, .navbar .nav-link.active::before {
    width: 90%;
    visibility: visible;
  }
}

@media (max-width: 991px) {
  .navbar .sidebar {
    background-color: #1c1c1d;
    backdrop-filter: blur(10px);
  }
}
.pie-pagina {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 2;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: aliceblue;
  transition: all 300ms ease;
  text-align: center;
}
.pie-pagina .grupo-1 .red-social a:hover {
  transform: scale(1.1);
}
.pie-pagina .grupo-2 {
  padding: 15px 10px;
  color: aliceblue;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
  }
}

body {
  background-color: rgb(23, 23, 23);
  height: 95%;
}
body #hero {
  min-height: 100vh;
  position: relative;
}
body #hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #hero .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
}
body #hero .promo a {
  font-size: 48px;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  body #hero .promo a {
    font-size: 32px;
  }
}
.form .container {
  width: 1000px;
}
@media only screen and (max-width: 600px) {
  .form .container {
    width: 90%;
  }
}
.form .container .bg-primary {
  background-color: black !important;
}
.form .container .form-control {
  height: 36px;
  background: white;
  color: #1c1c1d;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid black;
}
.form .container .row {
  margin-top: 100px !important;
  font-size: 12px;
  color: black;
  line-height: 2em;
  background-color: aliceblue;
}
.form .container .row h1 {
  font-size: 32px;
  margin-bottom: 50px;
}
.form .container .row h2 {
  font-size: 32px;
}
.form .container .contactForm .form-control {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}
.form .container .btn-primary {
  font-size: 1rem;
  padding: 5px 20px;
  border: 2px solid black;
  background: white;
  width: 100px;
  color: black;
  box-shadow: inset 0px 0px 0px 0px black;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 0;
}
.form .container .btn-primary::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.form .container .btn-primary:hover {
  color: white;
}
.form .container .btn-primary:hover:hover {
  box-shadow: inset 200px 0px 0px 0px black;
}
.form .container .bi {
  font-size: 30px;
  padding-right: 10px;
  padding-top: 14px;
}

#productora {
  margin: 80px 0;
  background-color: #1c1c1d;
}
#productora .container-fluid {
  color: aliceblue;
}
#productora .container-fluid .carousel-inner img {
  border-radius: 10px;
  margin-bottom: 20px;
}
#productora h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
#productora p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.nosotros {
  padding: 0;
}
.nosotros img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.nosotros h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.nosotros p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #productora {
    padding: 30px 0;
  }
  #productora h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  #productora p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .nosotros {
    padding: 30px 0;
  }
  .nosotros h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .nosotros p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.trabajos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.trabajos .trabajito {
  height: 300px;
  border-radius: 12px;
  margin: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-1 {
  font-size: 1rem;
  padding: 5px 20px;
  border: 2px solid black;
  background: white;
  width: 100px;
  color: black;
  box-shadow: inset 0px 0px 0px 0px black;
  transition: all 0.3s ease;
  position: relative;
}
.btn-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.btn-1:hover {
  color: white;
}
.btn-1:hover:hover {
  box-shadow: inset 200px 0px 0px 0px black;
}

.servicios {
  padding: 100px 20px;
  background-color: aliceblue;
  position: relative;
}
.servicios .servicios-content {
  text-align: center;
}
.servicios .servicios-content h2 {
  font-size: 32px;
  line-height: 50px;
  color: #1c1c1d;
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 15px;
}
.servicios .servicios-content .txt-p {
  font-size: 16px;
  color: #1c1c1d;
  padding: 0 20px;
  margin-bottom: 35px;
}
.servicios .servicios-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.servicios .servicios-group .serv {
  flex: 1;
  padding: 0 10px;
}
.servicios .servicios-group .serv img {
  max-height: 200px;
  width: 50%;
  max-width: 200px;
  margin: 30px 0;
  border-radius: 30px;
}
.servicios .servicios-group .serv h3 {
  color: #1c1c1d;
  font-size: 16px;
}

.proceso {
  background-image: linear-gradient(rgb(0, 0, 1), rgb(0, 0, 1)), url();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 20px;
}
.proceso .proceso-content {
  text-align: center;
}
.proceso .proceso-content h2 {
  font-size: 32px;
  line-height: 50px;
  color: aliceblue;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.proceso .proceso-content p {
  font-size: 16px;
  color: aliceblue;
  margin-bottom: 50px;
  padding: 0 20px;
}
.proceso .proceso-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.proceso .proceso-group .proceso-1 {
  flex: 1;
  padding: 0 10px;
}
.proceso .proceso-group .proceso-1 svg {
  margin-bottom: 20px;
}
.proceso .proceso-group .proceso-1 img {
  width: 100%;
  max-width: 25%;
  margin-bottom: 15px;
}
.proceso .proceso-group .proceso-1 h3 {
  color: aliceblue;
  font-size: 16px;
}

.general {
  display: flex;
}
.general .general-1 {
  width: 100%;
  padding: 100px 50px;
  background-color: aliceblue;
}
.general .general-1 h2 {
  font-size: 32px;
  line-height: 50px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.general .general-1 p {
  font-size: 16px;
  color: black;
  margin: 25px 0 45px 0;
}
.general .general-2, .general .general-3 {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
